.dangnhap {
    background-color: #f44336;
    padding: 10px 18px;
    margin-right: 3px;
}
.dn a{
color:white;
}
.dn {
    padding-bottom: 22px;
}
.dn a:hover {
        text-decoration: none;
        background-color: #4CAF50;
        transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
}
.topic{
    float: left;
    background: #e49637;
    width: 100%;
    margin-bottom: 10px;
}
.tbao {
    width: 100%;
    line-height: 15px;
}
.tbaocodinh {
    float: left;
    padding: 1px 0;
    padding-left: 3px;
    width: 100%;
}
.tbao .tbaocodinh .tin .tbaonvat {
    float: left;
    padding: 1px 0;
    padding-left: 3px;
    width: 100%;
}
.tin {
    width: 100%;
    line-height: 15px;
}
.tbaonvat {
    float: left;
    padding: 1px 0;
    padding-left: 3px;
    width: 100%;
}
.ten {
    font-size: 10px;
    color: #666;
    float:left;
}
.tbaonvatgame {
    background-color: #ffaf4d;
}
.nutchuyentrang {
    background-color: #ffaf4d;
    padding-bottom: 32.2rem;
}
.nut1 {
    font-size: 10px;
    background-color: #561d00;
    color: #fff;
    width: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-top: 2px;
    font-weight: 400;
    margin-left: 2px;
    text-decoration: none;
    font-weight: 700;
}
.nutcn {
    font-size: 10px;
    background-color: #fff;
    width: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-top: 2px;
    margin-left: 2px;
    text-decoration: none;
    font-weight: 700;
}
    .nutcn:hover {
        background-color: #561d00;
        text-decoration: none;
        color: #fff;
    }
.footer {
    height: 100px;
}
.tdetable {
    width: 33%;
    color: #fff;
    line-height: 22px;
    font-weight: 700;
}
.tenbang {
    float: left;
    width: 100%;
    color: #fff;
    line-height: 22px;
    font-weight: 700;
}
.bagsucmanh {
    background-color: #d35220;
}
    .bagsucmanh td {
        color: #fff;
        line-height: 22px;
        font-weight: 700;
    }
tbody a {
    font-weight: 400;
}
.menu1 {
    line-height: 22px;
    text-align: center;
    color: #fff;
    background-color: #924c31;
}
.menu1box {
    width: 25%;
    border: 2px solid #FFAF4D;
    padding: 2px;
    color: #fff;
}
.menu1 a{
    color:white;
}
    .menu1 a:hover {
        color: #ffeb3b;
        text-decoration: underline;
    }